/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f7f3; /* Change to a light gray or white */
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0077cc;
    overflow: hidden;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    background-color: #f6f7f3; /* Match the body background */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.left-column {
    width: 25%;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.middle-column {
    flex: 3;
}

.right-column {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.post img {
    width: 100%;
    border-radius: 5px;
}

.btn {
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005fa3;
}

/* Logo Styles */
.logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Menu Styles */
.menu {
    margin-top: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 12px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul li a:hover {
    background-color: #0077cc;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .left-column, .middle-column, .right-column {
        width: 100%;
    }
}