body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #4989c9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0a3b6d;
}
.message {
    color: green;
    text-align: center;
    margin-top: 20px;
}
.link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #6fc5ff;
    cursor: pointer;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}